.element__delete-button {
  background-image: url(../../../images/delete_button.svg);
  background-repeat: no-repeat;
  height: 19px;
  width: 18px;
  border: 0px;
  box-shadow: none;
  position: absolute;
  z-index: 3;
  padding: 0px;
  right: 20px;
  top: 20px;
  background-color: transparent;
}

.element__delete-button:hover {
  cursor: pointer;
  opacity: 0.5;
}